{% extends "common/templates/co-template.njk" %}

{% set homepage_url = '/' %}

{% set title_suffix = 'Some Government Site' %}



{% block page_title %} {{title_suffix}} {% endblock %}

{% block head %}
  {% include "common/templates/includes/head.njk" %}
{% endblock %}



{% block footer_support_links %}

{% endblock %}

{% block body_end %}

{% endblock %}

{% block header_class %}
{% endblock %}

{% block proposition_header %}

 

{% endblock %}