{% extends "common/templates/layout.njk" %}

{% block page_title %}
	Application Complete
{% endblock %}

{% block content %}
	
<main id="content" role="main">


<div class="grid-row">
  		<div class="column-full">

		    <h1 class="heading-xlarge">
		      Some Useful Government Site
		    </h1>



	<div class="grid-row">
  		<div class="column-two-thirds">
  		
			<div class="govuk-box-highlight">
				<h1 class="heading-large">
					{{name }} Thank you for applying to this useful government service
				</h1>
				
			</div>
			</div>

			
 </main>
{% endblock %}
